@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500&display=swap');

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Abril Fatface', cursive,'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Change font-family from here */
code {
  font-family: 'Abril Fatface', cursive,'Montserrat', sans-serif;
}
